body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Stary-night-sky_-_West_Virginia_-_ForestWander.jpg/1920px-Stary-night-sky_-_West_Virginia_-_ForestWander.jpg);
    position: relative;
    min-height: calc(100svh - 7.5em * 2);
    padding: 7.5em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a, a:hover, a:visited {
    color: #00000085;
}

a:not(nav a) {
    text-decoration: underline dotted 1.8pt;
    text-underline-offset: .25em;
    text-decoration-skip-ink: none;
}

a:hover:not(nav a) {
    text-underline-offset: .33em;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    backdrop-filter: blur(10px);
    gap: 5em;
    overflow: hidden;
    transition: background-color .75s ease-out;
}

header h2 {
    color: black;
    flex-shrink: 0;
    text-shadow: 0 0 100px #fff, 0 0 50px #fff, 0 0 25px #fff, 0 0 12.5px #fff;
}

nav ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    flex-shrink: 0;
}

nav a, nav a:hover, nav a:visited {
    color: #000;
    text-decoration: none;
}

nav a {
    flex-shrink: 0;
    padding: .5em;
}

nav a.active, nav a:hover {
    font-weight: bold;
    text-shadow: 0 0 100px #fff, 0 0 50px #fff, 0 0 25px #fff, 0 0 12.5px #fff;
}

nav a.active {
    border: solid 2pt #000;
    border-radius: .5em;
}

main {
    margin: auto;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
    text-align: center;
}

article {
    font-size: 1.05rem;
    margin: auto;
    border-radius: 2em;
    background: white;
    box-shadow: 0 0 90px #fff;
    padding: 4em 4lh;
    max-width: fit-content  ;
}

article img {
    display: block;
    margin: auto;
    border-radius: 1.25em;
    margin-bottom: 2rem;
    height: 25em;
    box-shadow: #00000055 0 -5px 50px;
}

article h1 {
    margin: 1em 1lh;
    font-size: 2.8em;
    margin: .5em .5lh;
}

article h2 {
    margin-bottom: 3lh;
}

article p {
    display: block;
    margin: auto;
    max-width: 67ch;
}

article table {
    margin-block: 2lh;
}

article table *, article table {
    border: 2px solid black;
}

article thead {
    background-color: #000;
    color: white;
    font-weight: bolder;
}

article th {
    padding: 1lh 1ch;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer p {
    display: block;
    margin: 0;
    padding-block: 2ch;
    padding-inline: 2lh;
    max-width: 67ch;
    border-radius: 2em 2em 0 0;
    background: white;
    box-shadow: 0 0 90px #fff;
    text-align: center;
}

*:not(body *) {
    background-color: #000;
}

.help {
    cursor: help;
    color: #00000085;
    text-decoration: underline dotted 1.8pt;
    text-align: center;
    text-underline-offset: .25em;
    text-decoration-skip-ink: none;
}