@import url('https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css');

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Stary-night-sky_-_West_Virginia_-_ForestWander.jpg/1920px-Stary-night-sky_-_West_Virginia_-_ForestWander.jpg);
    position: relative;
    min-height: calc(100svh - 7.5em * 2);
    padding: 7.5em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a, a:hover, a:visited {
    color: #00000085;
}

a:not(nav a) {
    text-decoration: underline dotted 1.8pt;
    text-underline-offset: .25em;
    text-decoration-skip-ink: none;
}

a:hover:not(nav a) {
    text-underline-offset: .33em;
}

a.no-decoration {
    text-decoration: none;
}

.hidden {
    display: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    backdrop-filter: blur(10px);
    gap: 1rem;
    overflow: hidden;
    transition: background-color .33s ease-out;
    z-index: 999;
}

header h2 {
    color: black;
    text-shadow: 0 0 100px #fff, 0 0 50px #fff, 0 0 25px #fff, 0 0 12.5px #fff;
    transition: color .33s ease-out;
}

nav {
    width: 50%
}

nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: max-content;
    width: 100%;
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav a, nav a:hover, nav a:visited {
    color: #000;
    text-decoration: none;
    transition: color .33s ease-out;
}

nav a {
    flex-shrink: 0;
    padding: .5em;
}

nav a.active, nav a:hover {
    font-weight: bold;
    text-shadow: 0 0 100px #fff, 0 0 50px #fff, 0 0 25px #fff, 0 0 12.5px #fff;
}

nav a.active {
    border: solid 2pt #000;
    border-radius: .5em;
    transition: .33s ease-out;
}

main {
    margin: auto;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
    text-align: center;
}

article {
    position: relative;
    font-size: 1.05rem;
    margin: auto;
    border-radius: 2em;
    background: white;
    box-shadow: 0 0 90px #fff;
    padding: 4em 4lh;
    max-width: fit-content  ;
}

article img {
    display: block;
    margin: auto;
    border-radius: 1.25em;
    margin-bottom: 1.1lh;
    height: 25em;
    box-shadow: #00000055 0 -5px 50px;
}

img.dw {
    box-shadow: none;
    position: absolute;
    height: 15%;
    top: 1lh;
    left: 1lh;
}

img.bbc {
    box-shadow: none;
    position: absolute;
    height: auto;
    width: 15%;
    top: 1lh;
    right: 1lh;
    border-radius: 0 .6em 0 0;
}

article h1 {
    margin: 0 1em .5lh 1em;
    font-size: 2.8em;
}

article h2 {
    margin-bottom: 1lh;
}

article p {
    display: block;
    margin: auto;
    max-width: 67ch;
}

#datatable_wrapper {
    margin-block: 2lh !important;
}

tbody td, thead th {
    text-align: center !important;
}

table tbody th {
    text-align: left;
    padding-left: 1em !important;
}

#datatable_wrapper a {
    cursor: pointer;
    margin-inline: .5em;
    border: solid 2pt #000;
    border-radius: .5em;
}

#datatable_wrapper .current, #datatable_wrapper a:hover {
    background-color: black;
    background-image: none;
    color: white !important;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer p {
    display: block;
    margin: 0;
    padding-block: 2ch;
    padding-inline: 2lh;
    max-width: 67ch;
    border-radius: 2em 2em 0 0;
    background: white;
    box-shadow: 0 0 90px #fff;
    text-align: center;
}

*:not(body *) {
    background-color: #000;
}

.help {
    cursor: help;
    color: #00000085;
    text-decoration: underline dotted 1.8pt;
    text-align: center;
    text-underline-offset: .25em;
    text-decoration-skip-ink: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 67ch;
    gap: 1lh
}


#author {
    gap: 1em;
    display: flex;
    flex-direction: column;
}

#author * {
    display: flex;
    width: 100%;
    gap : 2em;
}

#author * * {
    width: 50%;
}

.success, .error {
    width: calc(100% - 1em * 2);
    background-color: var(--_back);
    border-radius: .75em;
    color: var(--_color);
    padding: 1lh 1em;
}

.success {
    --_back: lightgreen;
    --_color: green;
}

.error {
    --_back: rgb(253, 191, 191);
    --_color: red;
}

textarea {
    height: 33svh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .9rem;
}

input, textarea, button {
    padding: .25lh 1em !important;
    border: solid black 2pt !important;
    border-radius: .75em !important;
}

input {
    height: 2lh !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: .9rem !important;
}

#subject, textarea {
    max-width: calc(100% - 2*2pt - 2*1em);
    min-width: calc(100% - 2*2pt - 2*1em);
    min-height: calc(1lh + .25lh);
}

button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9rem;
    width: 7em;
    align-self: flex-end;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bolder;
    text-align: center;
}

button:hover {
    transform: translate(-5px -5px) scale(105%);
    box-shadow: #000 ;
}